<!DOCTYPE HTML>
<html ng-app="jamendoApp">
<head>
  <title>Jamendo API with AngularJS</title>
  <link href="http://fonts.googleapis.com/css?family=Cantora+One" rel="stylesheet" type="text/css">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/grid.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js" type="text/javascript"></script>
  <script src="controllers/Album.js" type="text/javascript"></script>
</head>
  <body ng-controller="Album">
    <div class="container">
      <h1>Jamendo Artist Search</h1>

      <input id="artist" type="text" placeholder="Enter artist name" ng-model="artist">
      <button ng-click="getAlbums()">Get Albums</button><br/><br/>
      <h2>Album Info</h2>
      <div id="albums" ng-repeat="album in albums">
        {{album.name}}<br/>
        <img src="{{album.image}}">
      </div>
    </div>
  </body>
</html>